<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="fp-A0o8E80TtRjy0S3tsTsm6G7Gi2WBUH0tIEfSaZ7s" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pankaj Vaishnav Portfolio</title>
<meta name="description"
    content="Pankaj Swami Vaishnav is the best service provider Person : Backend integration, professional Website development, web Application development services, SEO expertise, and secure payment gateway solutions. Boost your business with our comprehensive suite of services." />
<link rel="stylesheet" href="./css/style.css">
<meta name="keywords"
    content="Backend integration, professional website development, web application development services, SEO expertise, secure payment gateway solutions, India, real-time website and designing solutions, multiplayer gamin setup, development industry solutions" />
<meta name="og:title" content="Pankaj Swami Vaishnav: Mobile App & Website Developer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
